*{
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7); 
}
   
::-webkit-scrollbar-thumb {
    background: #efefef; 
}

body{
    margin: 0;
}

p{
    margin: 0;
}

#header{
    padding-left: 7vw;
    color:#00333f;
    background-color: #b1b1b1;
}

#web-name{
    padding-top: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
}

#web-intro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-bottom: 7vh;
}

#footer{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 7vw;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    color: #00333f;
    background-color: #b1b1b1;
}

.fab.fa-facebook-square, .fab.fa-instagram-square, .fab.fa-twitter-square{
    color: #00333f;
    margin-right: 10px;
    font-size: 3vw;
}

#gallery{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.column.new-img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin: 20%;
}

.column.new-img-btn i:hover{
    cursor: pointer;
    background-color: #efefef;
    transition: all 0.5s;
}

.column.new-img-btn i{
    font-size: 5vw;
    padding: 1vw;
    border: 10px solid #efefef;
    border-radius: 30%;
}

.column.image{
    text-align: center;
}

.column.image img:hover{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    filter: brightness(70%);
}

.column.image img{
    width: 60%;
    border: 10px solid #efefef;
    border-radius: 4px;
}

.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-window figure{
    text-align: center;
}

.img-window figure img{
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    border: 5px solid #ddd;
    background-color: #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.img-window figure figcaption{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    margin-top: 10px;
}

.img-window figure figcaption .img-src{
    color: cornflowerblue;
}

.img-window figure figcaption .img-src:hover{
    color: gray;
}

.next-btn{
    margin-right: 5vw;
}

.prev-btn{
    margin-left: 5vw;
}

.next-btn, .prev-btn{
    color: white;
    opacity: 0.5;
    font-size: 5vw;
    cursor: pointer;
}

.next-btn:hover, .prev-btn:hover{
    opacity: 1;
}